body{
    font-family: Helvetica;
    background-color: #EEE;
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #868585;
    padding: 10px;
    z-index: 1;
}

#menu ul {
    list-style: none;
    margin-top:20px;
    padding: 0;
}

#menu li {
    margin: 5px 0;
   
}



.table-link{
    display: block;
    padding: 5px;
    border:1px solid grey;
    background-color: #DDD;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
.table-link:hover{
    color:rgb(255, 6, 6);
    transform :translateX(20px)
}

#content h1 {
    position: relative;
    height: 100px; /* set the height to match the header height */
    padding-left: 250px;
}
#content h1 img {
    position: absolute;
    top: 0;
    margin-left:2%;
    height: 40%;
    object-fit: contain;
}

#search{
    background-color: #2b91ff;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 8em;
}
#search-img{
    margin-left:10px;
    max-height: 30px;
}
#search:hover{
    background-color: #61a9f7;
}




#bg-img {
    opacity: 0;
    animation: fade-in-out 5s infinite;
}

@keyframes fade-in-out {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
