body{
    font-family: Helvetica;
    background-color: #EEE;
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #868585;
    padding: 10px;
    z-index: 1;
}

#menu ul {
    list-style: none;
    margin-top:20px;
    padding: 0;
}

#menu li {
    margin: 5px 0;
   
}



.table-link{
    display: block;
    padding: 5px;
    border:1px solid grey;
    background-color: #DDD;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
.table-link:hover{
    color:rgb(255, 6, 6);
    transform :translateX(20px)
}

#content h1 {
    position: relative;
    height: 100px; /* set the height to match the header height */
   
}
#content h1 img {
    position: absolute;
    top: 0;
    margin-left:2%;
    height: 40%;
    object-fit: contain;
}
#content{
    margin-left: 250px;
}
#search{
    background-color: #1f6bbc;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 8em;
}
#search-img{
    margin-left:10px;
    max-height: 30px;
}
#search:hover{
    background-color: #397dc5;
}




#bg-img {
    opacity: 0;
    animation: fade-in-out 5s infinite;
}

@keyframes fade-in-out {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}



.email-container {
    width: 100%;
    padding: 20px;
  }
  
 
  .email {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
 
  .email-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .email-sender {
    font-weight: bold;
  }
  

  .email-date {
    color: #666;
  }
  
  .email-subject {
    font-weight: bold;
    margin-bottom: 5px;
  }
  

  .email-body {
    color: #666;
  }

  #sim-btn{
    background-color: #1f6bbc;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 10em;
  }
  #sim-btn:hover{
    background-color:  #397dc5;
 
  }