table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #a58c8c;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Define a CSS class for rows with similar IDs */
tr.similar-id {
    background-color: #ffffcc;
} 
body{
    font-family: Helvetica;
  
}
#add-row-btn {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:2em;

    
  }
  #add-row-btn:hover{
      color:white;
  }
#home {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  float:right;
  transition: transform 0.3s ease;
}
#home:hover{
  transform: translateX(10px);
}

#home span {
  margin-right: 10px;
}

#bg-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: auto;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .delete-btn,
  .edit-btn {
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width:100%;
  max-width: 20em;
  }
  
  
  .edit-btn:hover {
    background-color: rgb(110, 132, 220);
  }
  .delete-btn:hover{
    background-color: #f2695f;
  }
  
  .delete-btn {
  
  background-color: #f44336;
  }
  
  .edit-btn {
  background-color: #243163;
  }